@import url("https://fonts.cdnfonts.com/css/panthera");
@import url(https://db.onlinewebfonts.com/c/9d321e63e55e0cc4622852096e2fac4a?family=BEYNO);
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&display=swap");
@import url("https://fonts.cdnfonts.com/css/wakanda-forever");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-light: #f2cef2;
  --grey-light: #9e91b7;
  --pink-dark: #df99f2;
  --blue-one: #3d2da6;
  --blue-two: #07338c;
  --blue-three: #021740;
}
#section1 {
  padding: 0;
  margin: 0;
}
#section1 .container {
  background-image: linear-gradient(80deg, var(--blue-three), var(--blue-one));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#section1 .container ul {
  list-style: none;
  display: flex;
}

#section1 .container ul li {
  margin: 0 10px;
  color: white;

  text-decoration: none;
  font-family: "BEYNO";
  font-size: 17px;
}
section {
  background-image: url(../illustrationLog/Allpages/arrière_plan.png);
}
#top-enigme {
  display: flex;
  flex-direction: column;
}
.enigme-1 {
  display: flex;
}
#top-enigme .left {
  width: 50%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#top-enigme .left .titre {
  margin: 10px 0;
  text-decoration: none;
  font-family: "BEYNO";
  font-size: 32px;
  color: var(--pink-light);
}

#top-enigme .left .description {
  padding-top: 100px;
  background-image: url(../illustrationLog/Enigme/Pantherenigme2.png);
  align-items: center;
}

.section2 {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.section2 .left {
  margin: 50px;
  width: 50%;
}
.section2 .left .titre2 {
  font-family: "Wakanda Forever", sans-serif;
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}
.section2 .left p {
  margin-bottom: 10px;
  font-family: "Cantarell", sans-serif;
  font-size: 14px;
}
.section2 .right {
  padding-top: 100px;
  background-image: url(../illustrationLog/Enigme/Pantherenigme2.png);
  background-position: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  width: 60%;
}
.section2 .right p {
  margin-bottom: 10px;
  font-family: "Cantarell", sans-serif;
  font-size: 14px;
}
.contact p {
  color: white;
  font-family: "Cantarell", sans-serif;
  font-size: 14px;
}
#container {
  padding-left: 100px;
  display: flex;
  background-image: url(../illustrationLog/Allpages/back_footer.png);
}
#container .section3 {
  display: flex;
}
#container .section3 .pages {
  margin: 30px;
  padding: 10px;
  color: white;
}
#container .section3 .pages .title {
  margin: 20px;
}
ul {
  list-style: none;
}
li {
  margin: 20px;
}
#container .section3 .logo {
  margin: 30px;
  padding: 10px;
  color: white;
}
#container .section3 .logo .title {
  margin: 20px;
}
#container .section3 .logo .social {
  margin: 20px;
}
#container .section3 .logo p {
  padding-top: 50px;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: transparent;
  padding-left: 100px;
}
.contact p {
  margin: 20px;
}
.contact button {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 174px;
  height: 54px;
  background-color: var(--pink-light);
  border-radius: 38px;
  font-family: "Cantarell", sans-serif;
  font-size: 14px;
}
.contact input {
  width: 520px;
  height: 56px;
  padding: 10px;
  border-radius: 38px;
  font-family: "Cantarell", sans-serif;
  font-size: 14px;
}
.button {
  text-align: center;
}